<div style="text-align: center; background-color: #fafafa;">

    <button class="mdc-button mdc-button--raised inline-demo-button mdc-ripple-upgraded" style="--mdc-ripple-fg-size:69px; --mdc-ripple-fg-scale:1.90497; --mdc-ripple-fg-translate-start:-12px, -14.5px; --mdc-ripple-fg-translate-end:23.4922px, -16.5px;">
        <a mat-list-item routerLink="/user" >
        <i class="material-icons">
            double_arrow
        </i>
      
          <span class="mdc-button__label">Play now</span>
          <div class="mdc-button__ripple"></div>
        </a>
        </button>

    <img src="assets/personality.png" alt="personality" />
    <img src="assets/arrowDown.svg" class="arrowDown" />
    <img src="assets/dailyActions.png" alt="Daily actions" />
    <img src="assets/arrowDown.svg" class="arrowDown"/>
    <img src="assets/eatActions.png" alt="Eat actions" />

    <button class="mdc-button mdc-button--raised inline-demo-button mdc-ripple-upgraded" style="--mdc-ripple-fg-size:69px; --mdc-ripple-fg-scale:1.90497; --mdc-ripple-fg-translate-start:-12px, -14.5px; --mdc-ripple-fg-translate-end:23.4922px, -16.5px;">
        <a mat-list-item routerLink="/user" >
        <i class="material-icons">
            double_arrow
        </i>
      
          <span class="mdc-button__label">Play now</span>
          <div class="mdc-button__ripple"></div>
        </a>
        </button>
</div>