<h5 class="mat-headline">Eat</h5>
<div>
    <p><img class="flaticon" src="assets/apple.svg" alt="Apple" /> represents how <span style="font-weight: bold">healthy</span> is the product.</p>
    <p><img class="flaticon" src="assets/energy-bar.svg" alt="Energy bar" /> represents how much <span style="font-weight: bold">energy</span> it will bring to you.</p>
</div>
<div class="containerActions">
    <mat-card *ngFor="let action of actionsPossible; let i = index" class="mat-card action-card">
        <img class="mat-card-image action-card-image" mat-card-image [src]="action.imageUrl" alt="Photo of a Shiba Inu">
        <mat-card-content class="mat-card-content">
            <div class="healthIcons">
                <img class="flaticon" *ngFor="let i of calculateNumberHealth(action.effects.health)"
                    src="assets/apple.svg" alt="Apple" />
            </div>
            <div class="hungryIcons">
                <img class="flaticon" *ngFor="let i of calculateNumberHungry(action.effects.hungry)"
                src="assets/energy-bar.svg" alt="Energy Bar" />
            </div>

        </mat-card-content>
        <mat-card-actions>
            <button class="action-card-button" mat-raised-button color="primary"
                (click)="eat(action)">{{action.name}}</button>
        </mat-card-actions>
    </mat-card>
</div>