<p class="body-1">This game was developed using Angular 9 and Firebase</p>


<p class="body-1">People should discover through this game what you really want in your life.</p>



<button mat-button (click)="translateText()">
  <img class="flaticon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d7/Google_Translate_logo.svg/1200px-Google_Translate_logo.svg.png" alt="translate"/>Translate
</button>


  <blockquote><p class="quotation" (click)="translateText()">{{text}}</p>
  <footer style="float: right">— Groot</footer>
  </blockquote> 


  <img class="imageGroot" src="assets/groot.png" alt="Groot" />

<a href="https://luiswillnat.eu" >https://luiswillnat.eu</a>