.clock
    display: flex
    flex-direction: row
    align-items: center
    margin-bottom: 10px

    & .mat-progress-bar

        &-fill::after
            background-color: #27ae60
    
        &-background
            fill: #27ae60


.clock .mat-progress-bar-fill::after
    background-color: red!important
