
<mat-grid-list cols="2" rowHeight="50">
    <mat-grid-tile>
        <div class="characteristic">
            <p class="mat-body">Health</p>
            <mat-progress-bar class="health" [ngClass]="animate ? 'animateProgressBar' : ''" mode="determinate"
                value="citizien?.characteristics.health"></mat-progress-bar>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="characteristic">
            <p class="mat-body">Hungry</p>
            <mat-progress-bar mode="determinate" [ngClass]="animate ? 'animateProgressBar' : ''" value="citizien?.characteristics.hungry"></mat-progress-bar>
        </div>
    </mat-grid-tile>
</mat-grid-list>

<div>
    Money : 
    <span style="font-weight: bold;">{{citizien?.money}} </span>€ 
    <span style="float:right;font-weight: bold">
        <span style="font-weight: normal">Age</span> : {{citizien?.age.years }} years {{citizien?.age.months }} months
    </span>

</div>
