<mat-grid-list cols="2" rowHeight="50">
    <mat-grid-tile>
        <div class="characteristic">
            <p class="mat-body">Health</p>
            <mat-progress-bar class="health" [ngClass]="animate ? 'animateProgressBar' : ''" mode="determinate"
                value="user.characteristics.health"></mat-progress-bar>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="characteristic">
            <p class="mat-body">Hungry</p>
            <mat-progress-bar mode="determinate" [ngClass]="animate ? 'animateProgressBar' : ''" value="user.characteristics.hungry"></mat-progress-bar>
        </div>
    </mat-grid-tile>
</mat-grid-list>

