/* You can add global styles to this file, and also import other style files */
$base-color: #27ae60


.mat-sidenav-content
  padding: 10px

.action-card

  &-image
    background-size: cover
    width: 100%


*
  font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif
    

.clock .mat-progress-bar-fill::after
  background-color: $base-color

.mat-progress-bar.mat-accent .mat-progress-bar-buffer
    background-color: $base-color
    

.mat-card-image
  width: 70% !important

.mat-card-image:first-child
  margin-top: 0px !important

